*
{
    color: #fff1cf;
    font-family: 'Grenze Gotisch', cursive;
}
hr
{
  border-top: 3px double #8c8b8b;
  width:100%;
  margin-top: 42px;
}
.container,
.container-fluid,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
body
{
    margin:0px auto;
    width:100%;
    background-color: black;
    color: #fff1cf;
}
.title
{
  text-align: center;
  font-size: 35px;
}
.title-span
{
  color: #ff1e56;
  font-size:45px ;
}

.navbar ul li
{
    list-style-type: none;
     padding-right: 1.5em;
     color:#f1f3f8;
     font-size: 20px;
}
.navbar ul
{
  margin-left: auto;
}
nav
{
    width: 100%;
    height: 70px;
    background-color:#393B44;
    position: fixed;
}
nav ul li a
{
  text-decoration: none;
  color:#f1f3f8;
   padding:5px;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 10px;
   transition: 0.3s linear;
}
nav ul li a:hover
{
  
  background-color: crimson;
 
}
.cover-container {
  max-width: 42em;
}
.jumbotron
{
    padding: 70px 30px 70px 30px;
    margin: 0 auto;
    color: floralwhite;
    height: 100vh;
    background-size: cover;
}
/* About Section */
.about
{
  height:100vh;
  width:100%;
  text-align: left;
}
.about .container div
{
  margin-left: 5px;
  margin-right:5px;
  float:left;
  font-size: 20px; 
}
#about-box
{
  width: 300px;
  height:200px;
  border: 10px solid#FFD369;
  padding: 50px;
  margin: 0px;
}
@media(min-width:320px)and (max-width:767px) {
  #about-box {
    max-width: 200px;
    max-height: 80px;
    border: 5px solid #FFD369;
  }
}
.about p{
  font-family: 'Grenze Gotisch', cursive;
}
.square {
    transform: rotate(-45deg);
    width: 80px;
    height: 80px;
     z-index:-1;
    border: 2px solid  #ff1e56;;
    background: transparent;
    border-top: 2px solid  #ff1e56;;
    box-shadow: 10px 10px  #ff1e56;;
}
@media(min-width:320px)and (max-width:767px) {
  .square {
    max-width: 60px;
    max-height: 60px;
   
  }
}
/* Skills section */
.skills
{
  
  display: table;
  height:100vh;
  width:100%;
 
}
#skill_table{
  width: 100%;
  background-image: linear-gradient(-45deg,#FFAC41,black);
}
.skills .container .imag
{
  border-spacing: 10px;
  font-size: 10px;
  text-align: center;
}

.skills .container .card {
 
  border-radius: 0.5rem;
  width: 100%;
  box-shadow: 10 1px 2px #393B44;
  transition: box-shadow 0.3s ease-in-out;
}
.skills .container .card:hover{
  box-shadow: 0 15px 25px #393B44;
} 
/* Project section */
.project
{
  display: table;
  height:100vh;
  width:100%;
  padding-bottom: 40px;
}
.project a{
    text-decoration: none;
    padding-left: 1%;
}
 #all
{
  /* background-color: red; */
  width:100%;
  height: 80vh;
  padding-top: 20px;
  margin-top: 20px;
  cursor: pointer;
}
#game
{
  /* background-color: cyan; */
  height: 40vh;
  margin-left: 60px;
}
#gameBtn
{
    max-height:50vh; 
}
#webBtn
{
  height:38vh;
  width: 29%;
  margin-left: auto;
  margin-right: 168px;
  margin-top:  -220px;
}
.project-box figure img {
	

	transition: transform .2s;
}
.project-box figure:hover img {
  transform: scale(1.2);
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
/* Contact Section */
.contact
{
  display: table;
  height:100vh;
  width:100%;
}
input[type=text], input[type=email], input[type=number], textarea {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
}
input[type=submit] {
  width: 30%;
  background-color:#263F44;
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 2px outset crimson;
}
input[type=submit]:hover
{
    background-color: rgba(68, 67, 67, 0.603);
}


